<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Weather App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <%- include ('./partials/navbar.ejs') %>
        <video src="" id="background-video" muted loop autoplay></video>
        <div class="inputField mt-4 mb-4">
            <form action="/" method="post" autocomplete="off">
                <div class="input-group input-group-lg">
                    <input type="text" placeholder="Search a city " name="city" required class="form-control"
                        aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                    <div class="input-group-prepend">
                        <button type="submit" id="weatherButton" class=" btn btn-primary" id="inputGroup-sizing-lg"><i
                                class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="container mb-1">
            <div class="card weatherCard">
                <div class="card-body text-center">
                    <%if(weatherData!==null){%>
                        <h2> <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <%=information.country%>, <%=information.name%>
                        </h2>
                        <img src="<%= information.icon %>" class="weatherIcon " alt="Weather-Icon" />
                        <h1>
                            <%=information.main%>
                        </h1>
                        <h1>
                            <%=information.temperature%>°C
                        </h1>
                </div>
            </div>
        </div>
        </div>
        <div class="container  ">
            <div class="row ">
                <div class="col-lg-12 col-md-12 ">
                    <div class="card-group">
                        <div class="card weatherCard " style="margin-right: 2px;">
                            <div class="card-body">
                                <h5>Sunrise - <span id="sunrise"></span> </h5>
                                <h5>Sunset - <span id="sunset"></span></h5>
                                <h1>
                                    <%=information.fahrenheit%>°F
                                </h1>
                                <h1>
                                    <%=information.description%>
                                </h1>
                            </div>
                        </div>
                        <div class="card weatherCard " style="margin-left: 2px;">
                            <div class="card-body">
                                <h3>
                                    Humidity : <%=information.humidity%> g.m-3
                                </h3>
                                <h3>
                                    Pressure : <%=information.pressure%> N·m−2
                                </h3>
                                <h3>
                                    Clouds : <%=information.clouds%>%
                                </h3>
                                <h3>
                                    Visibility : <%=information.visibility%> meters
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <script>
            document.getElementById("sunrise").innerHTML += new Date('<%=information.sunrise%>' * 1000).toLocaleTimeString();
            document.getElementById("sunset").innerHTML += new Date('<%=information.sunset%>' * 1000).toLocaleTimeString();
            function setColor(className, styleValue, index) {
                var items = document.getElementsByClassName(className);
                items[index].style.color = styleValue
            }
            function setTextShadow(className, styleValue) {
                var items = document.getElementsByClassName(className);
                for (var i = 0; i < items.length; i++) {
                    items[i].style.color = styleValue
                }
            }
            function setBodyColor(styleValue) {
                document.body.style.color = styleValue;
            }
            function setBodyTextShadow(styleValue) {
                document.body.style.textShadow = styleValue;
            }
        </script>
        <%if (information.main=="Rain" ) {%>
            <script> document.getElementById('background-video').src = "/Videos/Rain.mp4";
                setBodyColor('white');
                setBodyTextShadow('2.5px 2.5px 4px black');
                setTextShadow('nav-link', '2px 2px 3px black')
                setTextShadow('appName', '2.5px 2.5px 4px black')
                setColor('nav-link', 'white', 0)
                setColor('nav-link', 'rgb(175, 175, 175)', 1)
                setColor('appName', 'white', 0)
            </script>
            <% } else if (information.main=="Clouds" ) {%>
                <script>document.getElementById('background-video').src = "/Videos/Cloud.mp4";
                    setBodyColor('white');
                    setBodyTextShadow('2.5px 2.5px 4px black');
                    setTextShadow('nav-link', '2px 2px 3px black')
                    setTextShadow('appName', '2.5px 2.5px 4px black')
                    setColor('nav-link', 'white', 0)
                    setColor('nav-link', 'rgb(175, 175, 175)', 1)
                    setColor('appName', 'white', 0)
                </script>
                <%} else if (information.main=="Clear" ) {%>
                    <script>document.getElementById('background-video').src = "/Videos/Clear.mp4";
                        setBodyColor('white');
                        setBodyTextShadow('2.5px 2.5px 4px black');
                        setTextShadow('nav-link', '2px 2px 3px black')
                        setTextShadow('appName', '2.5px 2.5px 4px black')
                        setColor('nav-link', 'white', 0)
                        setColor('nav-link', 'rgb(175, 175, 175)', 1)
                        setColor('appName', 'white', 0)
                    </script>
                    <%} else if (information.main=="Mist" ) {%>
                        <script>document.getElementById('background-video').src = "/Videos/Mist.mp4";
                            setBodyColor('white');
                            setBodyTextShadow('2.5px 2.5px 4px black');
                            setTextShadow('nav-link', '2px 2px 3px black')
                            setTextShadow('appName', '2.5px 2.5px 4px black')
                            setColor('nav-link', 'white', 0)
                            setColor('nav-link', 'white', 1)
                            setColor('appName', 'white', 0)
                        </script>
                        <%} else if (information.main=="Smoke" ) {%>
                            <script>document.getElementById('background-video').src = "/Videos/Mist.mp4";
                                setBodyColor('white');
                                setBodyTextShadow('2.5px 2.5px 4px black');
                                setTextShadow('nav-link', '2px 2px 3px black')
                                setTextShadow('appName', '2.5px 2.5px 4px black')
                                setColor('nav-link', 'white', 0)
                                setColor('nav-link', 'white', 1)
                                setColor('appName', 'white', 0)
                            </script>
                        <%} else if (information.main=="Haze" ) {%>
                            <script>document.getElementById('background-video').src = "/Videos/Haize.mp4";
                                setBodyColor('white');
                                setBodyTextShadow('2.5px 2.5px 4px black');
                                setTextShadow('nav-link', '2px 2px 3px black')
                                setTextShadow('appName', '2.5px 2.5px 4px black')
                                setColor('nav-link', 'white', 0)
                                setColor('nav-link', 'rgb(175, 175, 175)', 1)
                                setColor('appName', 'white', 0)
                            </script>
                            <%} else if (information.main=="Thunderstorm" ) {%>
                                <script>document.getElementById('background-video').src = "/Videos/Thunderstorm.mp4";
                                    setBodyColor('white');
                                    setBodyTextShadow('2.5px 2.5px 4px black');
                                    setTextShadow('nav-link', '2px 2px 3px black')
                                    setTextShadow('appName', '2.5px 2.5px 4px black')
                                    setColor('nav-link', 'white', 0)
                                    setColor('nav-link', 'rgb(175, 175, 175)', 1)
                                    setColor('appName', 'white', 0)
                                </script>
                                <% } else {%>
                                    <script>document.body.style.backgroundImage = "url(/Images/defaultWeatherImage.jpeg)";</script>
                                    <%}%>
                                        <%}%>
                                            <%- include ('./partials/Error.ejs') %>
</body>
<script>
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</html>